.bg-dark {
    background-color: #515C6B !important;
    text-shadow: 1px 1px #000;
}
.navbar-brand img {
    width: 100px;
    margin-right: 40px;
}

.nav-item {
    margin-right: 8px;
}

.nav-item i {
    margin-right: 4px;
}

.nav-shadow {
    border-bottom: #4C4A48 2px solid;
}

.login {    
    min-width: 20rem !important;
}

.dropdown-menu {
    padding: 10px;
}

.dropdown-item, .dropdown-toggle {
    cursor: pointer;
}

a:active,
a:focus {
  background-color: transparent;
}

.dropdown-item a:hover {
  background-color: #eaeaea;
}

.dropdown-item {    
    text-shadow: 1px 1px #ccc;
}

.register-link {    
    text-shadow: 1px 1px #ccc;
    text-align: center;
}

.nav-item img {
    border-radius: 50%;
    width: 40px;
    border: 1px #ddd solid;
}